.hero {
  text-align: center;
  margin: 40px 0;

  h1 {
    font-size: 2.8rem;
    color: $color-acento;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  button {
    @extend .btn;
  }
}
