$color-acento: #e67e22;
$color-acento-hover: #d35400;
$color-fondo: linear-gradient(135deg, #2c2c2c, #b0b0b0);
$color-texto: #fdfdfd;
$color-gris: #f4f4f4;
$color-gris-oscuro: #333;

$font-main: "Segoe UI", Arial, sans-serif;
